@import "text";
@import "ColorCard";

.App {
  &-body {
    height: 100vh;
    overflow: scroll;
    padding: 100px 60px 30px;
    transition: background-color 2s ease-in-out;
  }

  &-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: 0 auto;
  }

  &-brand {
    position: absolute;
    left: 0;
    bottom: -60px;
    transform: rotate(-90deg);
    transform-origin: top left;
  }

  &-accent {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 420px;
    text-align: right;
    font-size: 120px;
  }
}
