.ColorCard {
  $cardSize: 180px;

  z-index: 2;
  box-sizing: content-box;
  margin: 30px 20px;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  &-swatch {
    width: $cardSize;
    height: $cardSize;
  }

  &-data {
    padding: 15px 12px;
    background-color: #fff;
    font-size: 13px;

    p {
      margin: 2px 0;
    }

    p:first-child {
      text-transform: uppercase;
    }
  }
}
