@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 65px;
  color: white;
  text-transform: uppercase;
}